<!-- <p>menu works!</p> -->

<body>
    <section>
        <div class="logo">
            <span>
                STROMLOOP
            </span>
            <div>
                <button class="close">
                    <mat-icon routerLink="/welcome">
                        close
                    </mat-icon>
                </button>
            </div>
        </div>
    </section>
    <nav>
        <div class="content">
            <ul>
                <li><a routerLink="/welcome"> HOME</a></li>
                <li><a>OUR WORK</a></li>
                <li><a>ABOUT</a></li>
                <li><a>BLOG</a></li>
                <li><a>CONTACT</a></li>
            </ul>
        </div>
    </nav>
</body>