@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Overpass:wght@600&display=swap');

body{
    background: #0f4c75;
    /* background: #0f4c75; */
    overflow: hidden;
}
section{
    /* display: flex; */
    justify-content: center;

}
section::before{
    content: '';
    position: absolute;
    /* display: flex; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: circle(64% at 79% -75%);
    background: rgba(255, 255, 255, 0.05);
}
section::after{
    content: '';
    position: absolute;
    /* display: flex; */
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    clip-path: circle(15% at 1% -5%);
    background: rgba(255, 255, 255, 0.05);
}
.header {
    box-sizing: border-box;
    padding: 2.2% 5.2%;
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    }
    .header span{ 
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    font-family: 'Overpass', sans-serif;
}
    .subheader{
        text-align: right;
        flex: 1;
    }
    .subheader ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 19px;
        position: relative;
    }
    .subheader ul li a{
        text-decoration: none;
        color: #b8dff9;
        cursor: pointer;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .subheader ul li a::after{
        content: '';
        width: 0%;
        height: 2.1px;
        background: #3181b8;
        display: block;
        margin: auto;
        transition: all 0.3s ease-in-out 0s;
    }
    .subheader ul li a:hover::after{
        width: 100%;
    }
    .wave{
        position: absolute;
        bottom: 0;
    }
    .mediaicons{
        position: absolute;
        width: 20px;
        height: 100vh;
        top: 40%;
        left: 2%;
        cursor: pointer;
        /* margin-top: 10px; */
    }
    .secmediaicons{

    position: absolute;
    top: 950px;
    width: 20px;
    left: 2%;
    cursor: pointer;
    }
    .container{
        position: absolute;
        text-align: center;
        width: 600px;
        height: 100%;
        top: 40%;
        right: 7%;
        color: #fff;
        word-spacing: 2px;
        line-height: 1.2;
        /* animation: dropIn 2.5s ease-in-out; */
    }
    /* @keyframes dropIn {
        from{opacity: 0;
        transform: translateY(-10%);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
    } */
      .explore{
          background: linear-gradient(#4882a8 , #0f4c75);        
          border-radius: 20px;
          color: #fff;
          padding: 8px 24px;
         box-sizing: border-box;
         text-decoration: none;
         font-family: none;
         font-weight: bold;
        box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
        cursor: pointer;
        }
    

                                /* /* 2Nd Page */ 

.secondpage{
    background:#b8dff9;
width: 100%;
height: 100vh;

}
.secondpage h2{
    /* margin-top: 10%; */
    position: absolute;
    margin-top: 2%;
    width: 100%;
    color: #3181b8;
    text-align: center;
    font-size: 3em;
    font-family:'Overpass', sans-serif ;
    /* z-index: 2; */
    
}
/* .what{
    animation: dropIn 3s ease backwards;
}
@keyframes dropIn {
    from{opacity: 0;
        transform: translateX(-10%);}
        to{opacity: 1;
        transform: translateX(0);}
} */
 .what::after{
    content: '';    
    margin: auto;
    display: block;
    margin-top: 10px;
    opacity: 0.6;
    width: 150px;
    height: 4px;
    background: #3181b8;
}

.mobwhat::after{
    content: '';    
    margin: auto;
    display: block;
    margin-top: 5px;
    opacity: 0.6;
    width: 150px;
    height: 4px;
    background: #3181b8;
}
.matcontainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;

}
.Xsmatcontainer{
    margin-top: 12%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #b8dff9;
}
/* .card:hover{    
    animation: dropIn 2s ease-in-out ;
}
@keyframes dropIn
{
    from{opacity: 0;
    transform: translateY(8%);}
    to{opacity: 1;
    transform: translateY(0);}
} */

.matcontainer .card{
    position: relative;
    width: 270px;
    height: 340px;
    margin-top: 12%;
    margin-left: 4%;
    box-shadow: inset 6px 6px 10px rgba(31, 30, 30, 0.5);
    border-radius: 45px;
    background: #2d7eb4;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(10px); */
}

.Xsmatcontainer .Xscard{
    position: relative;
    width: 260px;
    height: 280px;
    margin-top: 10%;
    box-shadow: inset 6px 6px 10px rgba(31, 30, 30, 0.5);
    border-radius: 45px;
    background: #2d7eb4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.automation:hover{
 fill: #fff;
 cursor: pointer;
}
.web:hover{
    filter: #fff;
}
